@model IEnumerable<Test.Models.StudentDto>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().phone_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.first_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone_number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.student_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.student_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.student_id })
                </td>
            </tr>
        }
    </tbody>
</table>
